:host {
  .submit_button {
    background: red;
  }
  .loader {
    display: none;
  }
  .empty-set {
    display: none;
  }
  .search-widget {
    display: block;
    position: relative;
    width: 100%;
    &.open {
      .search_query {
        border-radius: 4px 4px 0 0;
      }

    }
    .search_query {
      box-sizing: border-box;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background: #fff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
    .autocomplete-results {
      display: none;
      width: 100%;
      position: absolute;
      .results-list {
        border: solid 1px #ccc;
        border-radius: 0 0 4px 4px;
        background: white;
        padding: 0;
        margin: 0;
        list-style: none;
        max-height: 7.5em;
        overflow: hidden;
        overflow-y: auto;
        .results-item {
          box-sizing: border-box;
          padding: 3px 20px;
          display: block;
          width: 100%;
          &:hover {
            cursor: pointer;
            color: #fff;
            background-color: #0097cf;
          }
        }
      }
    }
    &.open {
      .autocomplete-results {
        display: block;
      }
    }

    &.loading {
      .autocomplete-results {
        display: block;
      }
      .loader {
        display: block !important;
      }
    }
    &.empty {
      .autocomplete-results {
        display: block;
      }
      display: block !important;
    }
  }
}

.item-details {
  padding: 1em;
  margin-top: 3em;
  display: none;
  &.selected {
    display: block;
  }
  .detailed-results {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    .image-thumb {
      width: 33%;
      flex: 0 0 auto;
      align-self: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      .thumb {
        width: 100%;
        flex: 0 0 auto;
        align-self: center;
      }
    }
    .details {
      width: 64%;
      padding: 0 2em;
      flex: 1 0 auto;
      align-self: stretch;
    }
  }
}

h3 {
  &.regular {
    font-weight: normal;
  }
}
h1{
  &.no-bottom-margin{
    margin-bottom:0;
  }
}
